
@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div id="header-content">
        @Html.Partial("_HeaderPartial")
    </div>

    <div id="main-content">
        <div class="col-md-3 sidebar">
            @Html.Partial("_SidebarPartial")
        </div>

        <div class="col-md-9" id="manage-content">
            
        </div>
    </div>
</div>