@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

@section HeaderContent { @Html.Partial("_HeaderPartial") }

@section SideBar { @Html.Partial("_SidebarPartial")}

@section ManageContent {
    <h2>hello</h2>
}
