@using proof_of_concept_mvc.Helper
<nav class="navbar navbar-default">
    <div class="container header">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand @Html.MenuItem("Index", "Organisation")" href="@Url.Action("Index", "Organisation")">
                <h2>Proof of concept: MVC Application</h2></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <h3><a href="#" id="find-nav">Find a Bed</a></h3>
                </li>
                <li>
                    <h3><a href="#" id="">Bed Requests</a></h3>
                </li>
                <li>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="account-dropdown">Account <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li role="separator" class="divider"></li>
                                <li>
                                    @Html.ActionLink("Sign Out", "LogOff", "Account")
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

